src/.hide_src/
build/
bin/
out/

*.o
*.obj
*.out
*.exe
*.dll
*.so
*.a
*.dylib

render/
*.bmp
*.mp4

.DS_Store
Thumbs.db

.vscode/
.idea/
*.suo
*.user
*.swp

CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake